.card {
  border: none;
}

.card .card_info {
  position: absolute;
  width: 250px;
  z-index: 1;
  height: 280px;
  border-radius: 5px;
  right: 5%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  top: 150%;
  background-color: #eeeeee;
  transition: 0.5 all ease-in;
}

.card .card_info .card_image img {
  margin-top: 20px;
  border-radius: 50%;
  width: 60px;
  object-fit: cover;
  height: 60px;
}

.card .profile_circle {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  margin-bottom: 5px;
  background-color: rgb(77, 76, 76);
  border-radius: 60%;
}
.card .profile_circle .name {
  font-size: 1rem;
  color: #fff;
}

.shop {
  /* text-decoration: underline; */
  margin-top: 5px;
}

.shop:hover {
  background-color: rgb(206, 206, 206);
}
